anyio==3.5.0
asgiref==3.5.0
click==8.1.2
fastapi==0.75.1
h11==0.13.0
idna==3.3
joblib==1.1.0
numpy==1.22.3
pydantic==1.9.0
scikit-learn==1.0.2
scipy==1.8.0
sklearn==0.0
sniffio==1.2.0
starlette==0.17.1
threadpoolctl==3.1.0
typing-extensions==4.1.1
uvicorn==0.17.6
